/*특정 페이지 공통 배경-반투명 박스*/
.wallpaper-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    background-color: rgba(0,0,0,0.46);
    color: #fff;
    box-sizing: border-box;
    height: auto; /* 자동 높이 */
    min-height: 80vh; /* 선택: 화면 꽉 채우고, 내용 많으면 자동 확장 */
}


@media (max-width: 1080px) {
  .wallpaper-container {
    background: none;
    width: 100%;
  }
}


