/* 로그인 전체 컨테이너 */
.signup-container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.46);
    color: #fff;
}

/* 로그인 내부 박스 */
.signup-inner-container {
    background-color: #0A1A2F;
    padding: 60px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    position: relative;
}

#signup-logo{
    width: 400px;
    height: auto;
}

#signup-text {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

#signup-line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 10px 0 20px 0;
}

#signup-email-label,#signup-password-label,#signup-password-check-label{
    text-align: left;
}

#signup-email,#signup-password,#signup-password-check{
    background-color: #24324476;
}

/* 장식용 동그라미 공통 스타일 */
.signup-circle {
    width: 20px;
    height: 20px;
    background-color: #21E6BB; 
    border-radius: 50%;
    position: absolute;
    top: 25px; 
    z-index: 2;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
}
/* 십자 라인용 가상 요소 */
.signup-circle::before,
.signup-circle::after {
    content: "";
    position: absolute;
    background-color: #444;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 가로선 */
.signup-circle::before {
    width: 12px;
    height: 3px;
}

/* 세로선 */
.signup-circle::after {
    width: 3px;
    height: 12px;
}

/* 왼쪽 나사 */
#signup-circle-left{
    left: 30px; /* 박스 왼쪽 기준 맞추기 */
}

/* 오른쪽 나사 */
#signup-circle-right{
    right: 30px;
}

.signup-button-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.signup-button-group button {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 회원가입 버튼 스타일 */
#signup-signupBtn {
    background-color: #21E6BB;
    color: #000; 
}

/* 리셋 버튼 스타일 */
#signup-resetBtn {
    background-color: #D9D9D9;
    color: #000;
}

/* 호버 효과 */
#signup-signupBtn:hover {
    background-color: #1cc1a0;
}

#signup-resetBtn:hover {
    background-color: #bfbfbf;
}

